.mastodon-posts {
  .toot {
    width: 200px;
    overflow-x: auto;
    padding-bottom: 5px;
    &:not(:last-child) {
      border-bottom: 2px solid black;
      margin-bottom: 10px;
    }
  }
  .toot-time {
    font-size: smaller;
  }
  .toot-author {
    min-height: 40px;
    border-radius: 10px;
    padding: 3px;
    overflow-x: auto;
    background-color: #ddd;
  }
  .toot-avatar {
    float: left;
    height: 40px;
    border-radius: 10px;
    margin-right: 5px;
  }
  .toot-display-name {
    display: inline;
    font-weight: bolder;
    img.emoji {
      height: .65lh;
    }
    &::after {
      content: " ";
    }
  }
  .toot-user {
    display: inline;
    &:hover {
      text-decoration: underline;
    }
  }
  .toot-content {
    min-height: 1em;
  }
  .toot-image {
    width: 200px;
  }
  .error {
    color: red;
    font-weight: bolder;
  }

  /* Classes from the toot content: */
  .ellipsis::after {
    content: "...";
  }
  .invisible {
    display: none;
  }
}