mastodon-toots {
  display: block;
  box-sizing: border-box;
  width: 210px;
  max-width: 210px;
  overflow-y: auto;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      opacity: .7;
    }
  }

  .toot {
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    &:not(:first-child) {
      border-top: 2px solid black;
      padding-top: 10px;
    }
    padding-bottom: 10px;
  }
  .toot-link {
    font-size: smaller;
  }
  .toot-time {
    font-size: smaller;
  }
  .toot-author {
    min-height: 40px;
    border-radius: 10px;
    padding: 3px;
    overflow-x: auto;
    background-color: #ddd;
  }
  .toot-avatar {
    float: left;
    height: 40px;
    border-radius: 10px;
    margin-right: 5px;
  }
  .toot-display-name {
    display: inline;
    font-weight: bolder;
    img.emoji {
      height: .65lh;
    }
    &::after {
      content: " ";
    }
  }
  .toot-user {
    display: inline;
    font-size: smaller;
  }
  .spoiler-text {
    margin: 1ex 0 0 0;
  }
  button.toot-show-sensitive {
    border: none;
    padding: 3px 5px;
    margin: 1ex 0 0 0;
    border-radius: 2px;
    background-color: #008;
    color: #fff;
    &:hover {
      opacity: 70%;
    }
  }
  .toot-content {
    min-height: 1em;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    &.hidden {
      background-color: grey;
      > * {
        visibility: hidden;
      }
    }
  }
  .toot-image, .toot-video {
    box-sizing: border-box;
    width: 100%;
    /*
      The border separates any image-internal padding from adjacent whitespace
    */
    border: 1px solid grey;
    margin-bottom: 10px;
  }
  .toot-attachment-link {
    display: block;
    box-sizing: border-box;
  }

  .card {
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;
    text-decoration: none;
    &:hover { text-decoration: none; }
    color: black;

    img {
      width: 100%;
    }
    header.title {
      margin-top: 5px;
      font-weight: bolder;
    }
    p.description {
      margin-bottom: 0;
    }
  }
  .author {
    display: block;
  }

  .error {
    color: red;
    font-weight: bolder;
  }

  /* Classes from the toot content: */
  .ellipsis::after {
    content: "...";
  }
  .invisible {
    display: none;
  }
}