.mastodon-posts {
  .toot {
    width: 200px;
    overflow-x: auto;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
  }
  .toot-time {
    font-size: smaller;
  }
  .toot-display-name {
    display: inline;
    font-weight: bolder;
    text-decoration: underline;
  }
  .toot-user {
    display: inline;
    text-decoration: none;
    &::before {
      content: " ";
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .toot-image {
    width: 200px;
  }
  .error {
    color: red;
    font-weight: bolder;
  }
}